/*Diogo*/
#Diogo{
    background-image: url("Images/project.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-image: flex;
    background-size: cover;
    width: 100%;
    height: 750px;
    
}

#BBV :hover img{
    background-color: white;
}

.navbar>.container-fluid{
    justify-content: space-around;
    border: 0mm;
}

.navbar-dark .navbar-brand{
    
    top: 50%; 
    right: 50%;
    transform: initial;
    
    font-family: verdana;
    font-size: 2em;
    font-weight: 700;
    color: #f5f5f5;
    text-shadow: -1px 1px 1px #919191, 1px 2px 1px #919191, 1px 3px 1px #919191, 1px 4px 1px #919191, 1px 5px 32px;
    width: 619px;
    
}


.titre{
    color: #f5f5f5;
    text-align: center;
    margin-top: 150px;

}
.text{
    color: #f5f5f5;
    text-align: center;
    margin-bottom: 1rem;
}

.button{
    
    border: 1px solid #f5f5f5;
    color: aliceblue;
    padding: 9px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 2rem;
    width: 160px;
}

.center-con {
    display: flex;
    height: 21vh;
    align-items: center;
    justify-content: center;
}

.round {
    position: relative;
    border: 1px solid rgb(247, 241, 241);
    width: 50px;
    height: 50px;
    border-radius: 100%;
}


.fleche{
    z-index: 999;
    height: 3px;
    margin:0px;
    width: 18px;
    background: rgb(252, 248, 248);
    transition: 0.4s ease;
}

.fleche:first-child {
    display: flex;
    position: absolute;
    transform: rotate(45deg);
    left: 22%;
    bottom: 42%;
}

.fleche:nth-child(2) {
    display: flex;
    position: absolute;
    transform: rotate(-45deg);
    left: 46%;
    bottom: 42%;
}

/*Sam*/    
.Sphere
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*Bruno*/

.works-title {
    display: grid;
    text-align: center;
    margin-bottom: 2%;
}

.underline {
    display: grid;
    text-align: center;
}
  
#nopad > * {
    padding-left: 0;
    padding-right: 0;
}
  
#img-col:hover {
    -webkit-filter: brightness(0.5);
    filter: brightness(0.5);
}
  
.hide {
    padding-top: 3%;
    text-align: center;
    position: absolute;
    padding-left: 3%;
    display: none;
    visibility: hidden;
}
  
#img-col:hover .hide {
    display: block;
    visibility: visible;
}
  
  @media (min-width: 768px) {
    #img-col {
      min-width: 20%;}
    }
  
    /*Yonat et Diogo*/
    .carousel-item{
        height: 20rem;
        background: rgb(255, 255, 255);
    }
    
    .carousel-indicators [data-bs-target]{
        box-sizing: content-box;
        flex: 0 1 auto;
        width: 15px;
        height: 15px;
        padding: 0;
        margin-right: 5px;
        margin-left: 5px;
        text-indent: -999px;
        cursor: pointer;
        background-color: rgb(119, 119, 119);
        background-clip: padding-box;
        border: 0;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        opacity: .5;
        transition: opacity .6s ease;
        border-radius: 100%;  
    }
    .testimonial-title{
        margin-top: 4%;
        display: grid;
        text-align: center;
    }
    .testimonial{
        margin-left: 22%;
        margin-right: 22%;
        display: grid;
        text-align: center;
    }
    #quote{
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 2%;
        margin-bottom: 3%;
        width: 2%;
        font-size: large;
    }
    .underline{
        display: grid;
        text-align: center
    }
    
    #Cafe{

        background-image: url("Images/foret.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-image: flex;
        background-size: cover;
        width: 100%;
        height: 900px;
    }
    
    .team{
       color: aliceblue;
       text-align: center;
       font-size: 24px;
       padding: 90px;
       font-weight: bolder;
    }
    
    .team-text{
        color: aliceblue;
        text-align: center;
        font-size: 16px;
        margin-top: -86px;
    
    }
    
    
        
        
    .image-team{
        
        width: 1135px;
        height: 20px;
        justify-items: center;
        padding: auto;
        text-align: center;
    }
    
    #carte{
        margin: 15px;
        margin-top: 1em;
    }
     
    /*.card-body{
        background-color: rgb(201 201 201);
    }
    
    .card-group{
        
        margin-top: 75px;
    }*/
    
    .button2{
        
        border: 1px solid #f5f5f5;
        color: aliceblue;
        padding: 9px;
        text-align: center;
        text-decoration: none;
        display: flex;
        font-size: 16px;
        margin: 530px 2px;
        border-radius: 2rem;
        width: 202px;
        margin-left: 820px;
    }

    /*Lamine*/
   
article{
        text-align: center;
        font-weight: 200;
        color: white;
        position: absolute;
        margin-left: 110px;
        margin-top: 80px;
        }  
    .row {
        --bs-gutter-x: 1.5rem;
        --bs-gutter-y: 0;
        display: flex;
        flex-wrap: wrap;
        margin-top: calc(-1 * var(--bs-gutter-y));
        margin-right: calc(-.5 * var(--bs-gutter-x));
        margin-left: calc(-.5 * var(--bs-gutter-x));
    }
    .row {
        --bs-gutter-x: 1.5rem
        --bs-gutter-y: 0;
        display: flex;
        flex-wrap: wrap;
        margin-top: calc(-1 * var(--bs-gutter-y));
        margin-right: calc(-.5 * var(--bs-gutter-x));
        margin-left: calc(-.5 * var(--bs-gutter-x));
    }
    
    input.transparent-input{
        background-color:rgb(224, 13, 13, 0) !important;
        border:white(red, green, blue);
        color: white;
     }
     navbar-light .navbar-brand{
    
        top: 50%; 
        right: 50%;
        transform: initial;
    
        font-family: verdana;
        font-size: 2em;
        font-weight: 700;
        color: #f5f5f5;
        text-shadow: -1px 1px 1px #919191, 1px 2px 1px #919191, 1px 3px 1px #919191, 1px 4px 1px #919191, 1px 5px 32px;
        width: 619px;
    
    }
    
